CURVI_PORT=
CURVI_HOST_DB=
CURVI_PORT_DB=
CURVI_USERNAME_DB=
CURVI_PASSWORD_DB=
CURVI_NAME_DB=
CURVI_JWT_SECRET=
CURVI_RABBITMQ_PROTOCOL=
CURVI_RABBITMQ_HOST=
CURVI_RABBITMQ_PORT=
CURVI_RABBITMQ_USERNAME=
CURVI_RABBITMQ_PASSWORD=
CURVI_SMTP_HOST=
CURVI_SMTP_PORT=
CURVI_SMTP_USER=
CURVI_SMTP_PASS=
CURVI_URL_RESET_PASSWORD=